.bookMarks-container {
    margin-bottom: 100px;
    height: 100vh !important;
    position: sticky;
    top: 0;
}

.spent-time {
    background: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    border-radius: 8px;
    color: #6047EC;
    padding: 10px 20px;
    margin: 24px 0;
    text-align: center;

}

.book-marks {
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    padding: 8px 30px;
}

.bookMarkParent {
    height: 450px;
    overflow-y: scroll;
    padding: 0 10px;
}

.book-mark-tittle {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
}